#chat{
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
    height: 9.5rem;
    width: 29.5rem;
    border-radius: 0.5rem;
    outline: 1px solid var(--light-grey);
}

#chat h4{
	display: flex;
	align-items: center;
}

#chat h4 span{
	margin-left: 0.5rem;
    font-size: 0.75em;
    color: var(--light-grey-2);
}

#chat-list{
	display: flex;
	flex-direction: column;
}

#chat-list li{
	width: 100%;
	outline: 2px solid green;
}