#friends{
    display: flex;
    position: fixed;
    right: 0;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - var(--navbar-height));
    width: var(--friends-list-width);
    padding: 1rem;
    padding-bottom: 0;
    border-left: 0.25px solid var(--dark-grey);
}

#friends h2{
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-bottom: 0.5rem;
}

#friends h2 span{
    margin-left: 0.5rem;
    font-size: 1.4rem;
    color: var(--light-grey-3);
}

#friends-categories{
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    width: 9.5rem;
}

.current{
    text-decoration: underline;
    text-decoration-color: var(--text-color);
}

#friends-list{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    overflow-x: hidden;
}

#friends-list li{
    width: fit-content;
    margin-bottom: 0.5em;
}

#friends-list a{
    display: flex;
    justify-content: center;
    align-items: center;
}

#friends-list span{
    position: relative;
}

#friends-list img{
    margin-right: 0.5em;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    object-fit: cover;
    background-color: whitesmoke;
}

.username{
    display: flex;
    align-items: center;
    font-size: 1.25em;
    font-weight: 500;
}

.username i{
    font-style: normal;
    font-size: 0.75em;
    color: var(--light-grey-3);
}

.activity{
    font-size: 1em;
    font-weight: 400;
}

.activity i{
    font-style: normal;
    font-size: 0.9em;
    font-weight: 400;
    color: var(--light-grey-3);
}

/* ICONS */

.Playing::after, .Online::after, .Developing::after, .Offline::after{
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0.2em;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(https://images.rbxcdn.com/34d457aefdc88489b8d2b2c4f30ae450-friendsstatus_dark.svg);
    background-size: 100% auto;
}

.Playing::after{
    background-position: 0 0; /*for clarity*/
}

.Developing::after{
    background-position: 0 -24px;
}

.Online::after{
    background-position: 0 -48px;
}

.Offline::after{
    all: unset;
    display: none;
}

@media (max-width: 768px) {
    #friends{
        display: flex;
        order: 3;
        position: static;
        align-items: center;
        height: fit-content;
        width: 100%;
        padding: 0;
        /*will fix l8r :3*/
    }

    #friends-list span{
        margin-bottom: 0.5rem;
    }

    #friends img{
        height: 5rem;
        width: 5rem;
        margin: 0;
    }

    .Playing::after, .Online::after, .Developing::after, .Offline::after{
        height: 40px;
        width: 40px;
        right: -0.5rem;
    }

    /*below down so that it corresponds with the place in the url-
    it's in*/

    .Developing::after{
        background-position: 0 -40px;
    }
    
    .Online::after{
        background-position: 0 -80px;
    }

    #friends h2, #friends-categories{
        margin-left: 1rem;
    }

    #friends-list{
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
    }

    #friends-list li{
        justify-content: center;
        height: 100%;
        margin-bottom: 0;
    }

    #friends-list li a{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #friends-list li div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #friends-list li p{
        justify-content: left;
        text-align: center;
    }
}