main{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0.2fr, 0.5fr) 0.65fr 0.15fr;
    /*
    Look over this tmrw: 
    https://stackoverflow.com/questions/46000676/auto-fit-and-minmax-dont-work-inside-nested-grid
    */
    height: calc(100% - var(--navbar-height));
    width: 100%;
}

#games{
    display: flex;
    flex-direction: column;
}

/* GAMES HEADER */

#games-nav{
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
}

#games-nav ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.current{
    text-decoration: underline;
}

/* LIST ITEMS OF GAMES */

#games-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, 14rem);
    height: calc(80% - 1rem);
    width: calc(100% - 1rem);
    padding: 1em;
}

#games-list li{
    display: flex;
    flex-direction: column;
    height: 14rem;
    width: 9rem;
    padding: 1rem;
    border-radius: 1rem;
}