main{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.2fr 0.65fr 0.15fr;
    /*
    Look over this tmrw: 
    https://stackoverflow.com/questions/46000676/auto-fit-and-minmax-dont-work-inside-nested-grid
    */
    height: calc(100% - var(--navbar-height));
    width: 100%;
}

#nav-menu{
    display: flex;
    flex-direction: column;
}

#middle{
    display: flex;
    flex-direction: column;
}

#top{
    display: flex;
    flex-direction: column;
}

#games{
    display: flex;
    flex-direction: column;
}

/* GAMES HEADER */

#games-nav{
    display: flex;
    flex-direction: column;
    height: 7.5%;
    width: 100%;
}

#games-nav ul{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

#games-nav button{
    cursor: pointer;
}

.current{
    text-decoration: underline;
}

/* LIST ITEMS OF GAMES */

#games-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, 16rem);
    height: calc(80% - 1rem);
    width: 100%;
    overflow-y: scroll; /*Not working*/
}

#games-list li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 14rem;
    width: 9rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.temp-one{
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

#games-list li img{
    height: 10em;
    width: 10em;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    object-fit: cover;
}

#games-list li div{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.temp-two{
    font-size: 1.1em;
}

/*Friends*/

#friends-list{
    display: flex;
    flex-direction: column;
}

#friends-list img{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    object-fit: cover;
}

#friends-list a{
    display: flex;
    justify-content: center;
    align-items: center;
}