main{
    display: flex;
    position: relative;
    height: fit-content;
    width: 100%;
}

#content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#home-title{
    margin: 1rem 0 0.75rem 1rem;
}

#home-tab{
    display: flex;
    justify-content: space-evenly;
    width: calc(100% - calc(var(--friendslist-width) + 1rem));
}

@media (max-width: 768px){
    #content{
        margin-left: 0;
        width: 100%;
    }

    #home-title{
        order: 1;
    }

    #home-tab{
        order: 2;
    }
}