#navbar{
    display: grid;
    grid-template: 1fr/1fr 1fr;
    position: fixed;
    top: 0;
    align-items: center;
    height: var(--navbar-height);
    width: 100%;
    z-index: 2;
    /*incredibly cursed to use a fraction of a px but*/
    border-bottom: 0.25px solid #111214;
    background-color: #191b1d;
}

#left{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
}

#right{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
}

#left > :first-child{
    margin-left: 2em;
}

#left a{
    font-size: 1.1rem;
    font-weight: 400;
}

#right > :last-child{
    margin-right: 2em;
}

#nav-menu-btn{
    background-color: black;
}

#navbar > * > a{
    margin: 0 0.5em;
}

#headshot{
    display: flex;
    justify-self: right;
    align-items: center;
}

#headshot img{
    height: 2.5em;
    width: 2.5em;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.25em;
    background-color: whitesmoke;
}

#headshot p{
    font-weight: 500;
}

#headshot p i{
    font-style: normal;
    color: var(--light-grey-3);
}

#nav-menu-button{
    display: flex;
    cursor: pointer;
    margin-right: 0.5rem;
}

#nav-menu-button svg{
    font-size: 1.5rem;
}

#setting{
    height: 28px;
    width: 28px;
    background-size: 56px auto;
    background-position-y: -84px;
    background-image: url(https://images.rbxcdn.com/53374db5b6c1b349a20d0471ea032868-navigation_dark.svg);
}