#news{
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
    width: 29.5rem;
    border-radius: 0.5rem;
    outline: 1px solid var(--light-grey);
}

#news h4{
	margin-bottom: 0.75rem;
}

#news article{
	padding: 0.5em;
	width: calc(100% - 1em);
	border-radius: 0.5rem;
    outline: 1px solid var(--light-grey);
}

#news article a{
	display: flex;
	flex-direction: column;
}

#news hgroup{
	display: flex;
	flex-direction: column;
	margin-bottom: 0.5rem;
}

#news article h5{
	font-weight: 500;
}

#news hgroup h6{
	margin-left: 1rem;
}