#searchbar-holder{
    margin-right: auto;
}

#input-group{
    display: flex;
    align-items: center;
    height: 2rem;
    width: 30rem;
    border-radius: 0.5rem;
    outline: 1px solid var(--light-grey);
}

#input-group svg{
    margin-left: 1rem;
    color: var(--text-color);
}

#searchbar{
    margin-left: 0.25rem;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 1.1rem;
    background-color: transparent;
    color: var(--light-grey-2);
    caret-color: var(--text-color);
}

#searchbar:focus{
    outline: none;
}

/*search navigation*/

#search-nav{
    display: flex;
    justify-content: space-between;
    margin-left: 3.5rem;
    margin-bottom: 0.4rem;
    width: 15rem;
}

#search-nav button{
    color: var(--light-grey-2);
    font-size: 0.8rem;
    font-weight: 300;
}