footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 100%;
    color: #bdbebe;
}

footer > ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    height: fit-content;
    width: 55%;
}

footer > ul a{
    color: inherit;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.25s;
}

footer > ul a:hover{
    color: rgb(255, 255, 255);
}

footer hr{
    margin-bottom: 1rem;
    width: 57.5%; /*slightly longer than the list*/
}

#disclaimer{
    display: flex;
    justify-content: center;
}

#disclaimer p{
    margin-left: 1rem;
    width: 50%;
    color: inherit;
    font-size: 0.75rem;
    font-weight: 400;
}