#nav-menu{
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: var(--navmenu-width);
    background-color: #191b1d;
}

#nav-menu section{
    display: flex;
    flex-direction: column;
    margin: 0.75em 0 0.75em 1em;
    width: 50%;
}

#nav-menu section hr{
    all: unset;
    margin-bottom: 0.5em;
    height: 0.1rem;
    width: 10em;
    background-color: var(--dark-grey);
}

#nav-menu section a{
    display: flex;
    align-items: center;
    margin-bottom: 0.15em;
    font-size: 1.2em;
    font-weight: 400;
}

/* ICONS */

.house-icon, .profile-icon, .messages-icon, .friends-icon, .groups-icon, .avatar-icon, .inventory-icon, .trade-icon,
.blog-icon, .store-icon, .giftcard-icon, .transactions-icon{
    display: inline-block;
    margin-right: 0.25rem;
    height: 28px;
    width: 28px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: auto auto;
    background-image: url(https://images.rbxcdn.com/53374db5b6c1b349a20d0471ea032868-navigation_dark.svg);
}

.transactions-icon{
    background-image: url(https://images.rbxcdn.com/3a9b44283e65ae1ead90defcb0bdcb6e-economy_28x28_dark.svg);
}

.house-icon{
    background-position: 0 -140px;
}

.profile-icon{
    background-position: 0 -168px;
}

.messages-icon{
    background-position: 0 -196px;
}

.friends-icon{
    background-position: 0 -224px;
}

.groups-icon{
    background-position: 0 -336px;
}

.avatar-icon{
    background-position: 0 -252px;
}

.inventory-icon{
    background-position: 0 -280px;
}

.trade-icon{
    background-position: 0 -308px;
}

.blog-icon{
    background-position: 0 -364px;
}

.store-icon{
    background-position: 0 -420px;
}

.giftcard-icon{
    background-position: 0 -504px;
}

.transactions-icon{
    background-position: -28px 0;
}