/*
TODO: 
*Finish the language component
*Tidy everything up
*/

:root{
    /* Colors */
    --bg: #232527;

    --dark-grey: #2f3134;
    --dark-grey-2: #393b3d;
    --light-grey: #3f4245;
    --light-grey-2: #717479;
    --light-grey-3: #e5e6e7;
    --light-grey-4: #bdbebe;

    --text-color: rgb(255, 255, 255);

    /* Consistency */
    --navbar-height: 60px;
    --navmenu-width: 13rem;
    --friendslist-width: 18rem;

    /* Font sizes */

    --h1: 2.75rem;
    --h2: 2rem;
    --h4: 1.4em;
}

html{
    height: 100%;
    width: 100%;
    overflow-x: hidden; /*just in case anything is overflowing, added at the end of development*/
}

body{
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg);
}

main{
    margin-top: var(--navbar-height);
}

#root{
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, a, p, button, li{
    all: unset;
    width: fit-content;
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
}

ul{
    all: unset;
}

li{
    all: unset;
    font-family: "Roboto", sans-serif;
}

a, button{
    cursor: pointer;
}

h1{
    font-size: var(--h1);
    font-weight: 700;
}

h2{
    font-size: var(--h2);
    font-weight: 600;
}

h4{
    font-size: var(--h4);
    font-weight: 500;
}